.logWindow {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.pageTitle {
  margin-top: -50px;
  width: 350px;
}

.logTitle {
  margin-bottom: 30px;
  font-size: 45px;
  color: rgba(108, 31, 116, 0.986);
}

.inputBlockLog {
  display: flex;
  align-items: center;
  width: 40%;
  height: 20px;
  justify-content: space-evenly;
  margin-top: 15px;
}

.buttonBlockLog {
  display: flex;
  width: 30%;
  margin-top: 15px;
  justify-content: space-evenly;
}

.inputProfile {
  display: inline-block;
  box-sizing: border-box;
  padding: 15px;
  margin: 15px 15px 15px 0;
  outline: none;
  border: 1px solid rgba(121, 13, 133, 0.479);
  border-radius: 25px;
  height: 45px;
  width: 140%;
  line-height: 0;
  text-decoration: none;
  color: rgba(108, 31, 116, 0.986);
  background-color: rgba(230, 77, 235, 0.144);
  position: relative;
  overflow: hidden;
  vertical-align: top;
  user-select: none;
  appearance: none;
  touch-action: manipulation;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}


.desc {

}

.file {
  display: inline-block;
  box-sizing: border-box;
}

.btnProfile {
  display: inline-block;
  box-sizing: border-box;
  padding: 15px;
  margin: 15px 15px 15px 0;
  outline: none;
  border: 1px solid rgba(121, 13, 133, 0.479);
  border-radius: 25px;
  height: 45px;
  width: 80%;
  line-height: 0;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.986);
  background-color: rgba(121, 13, 133, 0.479);
  position: relative;
  overflow: hidden;
  vertical-align: top;
  cursor: pointer;
  user-select: none;
  appearance: none;
  touch-action: manipulation;
  font-weight: bold;
}

.btnProfile:hover {
  transform: translate(0,-2px);
  box-shadow: 0 20px 40px 0 rgba(230, 77, 235, 0.384);
}

.container1 {
  justify-content: flex-end;
  padding-top: 150px;
  padding-left: 150px;
  display: flex;
  height: 700px;
  width: 100%;
}

.leftSide {
  flex: 0 0 100%;
  height: 66.66vh;
  width: 66.66vh;
  background-color: rgba(108, 31, 116, 0.301);
  margin-right: 150px;
}

.rightSide {
  flex: 0 0 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.selectProfile {
  display: inline-block;
  box-sizing: border-box;
  padding: 15px;
  margin: 15px 15px 15px 0;
  outline: none;
  border: 1px solid rgba(121, 13, 133, 0.479);
  border-radius: 25px;
  height: 45px;
  width: 140%;
  line-height: 0;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.986);
  background-color: rgba(230, 77, 235, 0.144);
  position: relative;
  overflow: hidden;
  vertical-align: top;
  user-select: none;
  appearance: none;
  touch-action: manipulation;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}
