.header {
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    padding: 10px 0;
    background-color: rgba(230, 77, 235, 0.144);
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 99;
    display: flex;
    margin: auto;
    padding: 0 15px;
    display: flex;
    background-color: rgba(230, 77, 235, 0.144);
    transition: background-color 0.3s ease;

}
.header-scrolled {
    background-color: rgba(255, 255, 255, 0.2);
  }

.logo {
    margin-left: 0px;
    color: rgba(108, 31, 116, 0.986);
    width: 600px;
    max-height: 40px;
    font-size: 30px;
    font-weight: bold;
    padding-right: 80px;
}

.header-nav {
    display: flex;
    width: 400px;
    justify-content: space-evenly;
}

.header-btn {
    display: inline-block;
    box-sizing: border-box;
    padding: 15px;
    margin: 15px 15px 15px 0;
    outline: none;
    border: 1px solid rgba(121, 13, 133, 0.479);
    border-radius: 25px;
    height: 46px;
    line-height: 0;
    text-decoration: none;
    color: rgba(108, 31, 116, 0.986);
    background-color: rgba(230, 77, 235, 0.144);
    position: relative;
    overflow: hidden;
    vertical-align: top;
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
    font-weight: bold;
}

.header-btn:hover {
    transform: translate(0,-2px);
    box-shadow: 0 20px 40px 0 rgba(230, 77, 235, 0.384);
}
.userLogo{
    color:rgb(100, 87, 219);
    display: flex;

    padding-left: 300px;
    
   
}
#first{
    padding-left: 600px;
    margin-right: 10px;
}
.menu{
    margin-right: 30px;
}
.header-btn {
    /* Ваши существующие стили */
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
  .header-btn i {
    font-size: 24px; /* Размер иконки */
    color: rgba(108, 31, 116, 0.986); /* Цвет иконки */
  }
  .menu {
    position: absolute;
    top: 85px; /* Высота хедера */
    right: 10px; /* Отступ от правого края */
    background: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menu li {
    padding: 5px 0;
  }
  
  .menu button {
    background: none;
    border: none;
    text-align: left;
    width: 100%;
    cursor: pointer;
    font-size: 14px;
    color: #333;
  }
  
  .menu button:hover {
    text-decoration: underline;
  }