.search-hover {
    border: 1px solid #ccc;
    outline: none;
    background-color: white;
    background-size: 22px;
    background-position: 13px;
    border-radius: 10px;
    width: 305px;
    height: 15px;
    margin-top: 50px;
    padding: 25px;
    transition: all 1.56s;
    font-size: larger;
    display: flex;
   
  }
  .search-hover:hover {
    width: 600px;
    padding-left: 30px;
  }
  
  .searchAll {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /* Убедитесь, что z-index достаточно высокий, чтобы элемент был поверх других элементов */
  }
  
  .sideBar {
    top: 110px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.2);
    max-height: 400px; /* Ограничиваем высоту контейнера корзины */
    overflow-y: auto; /* Добавляем вертикальную прокрутку */
  }
  
  .searchAllBut {
    display: flex;
    position: absolute;
    left: 10px;
    top: 90px;
   
  }